.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #5e89b4;
}

.create-form input {
  border-radius: 5px;
  width: 450px;
  height: 18px;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details_card {
  color: #5e89b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.details_card h1 {
  font-family: "Catlove";
  padding-bottom: 10px;
}

.Modal {
  margin-top: 100px;
  padding: 20px 80px 20px 20px;
  min-width: 50vw;
  min-height: 200px;
  max-width: 900px;
  max-height: 700px;
  background: rgba(230, 199, 170, 0.847);
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.Modal-close {
  font-size: 1.5rem;
  position: absolute;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 5px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  transform: rotate(45deg);
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.Modal-close:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.Modal-body {
  border-radius: 10px;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 2rem;
  gap: 2rem;
  z-index: 3;
}

.button_modal {
  margin-top: 65px;
  padding: 10px;
  border: none;
  color: #eee;
  cursor: pointer;
  background: linear-gradient(to bottom right, #9ba4b3, #c48854);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
}

@media (max-width: 850px) {
  .Modal {
    margin-top: 50px;
  }
  .Modal-body {
    font-size: 1rem;
  }
}

@media (max-width: 530px) {
  .Modal {
    padding: 15px 70px 15px 15px;
  }

  .Modal iframe {
    width: 453px;
    height: 255px;
  }

  .create-form input {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .Modal iframe {
    width: 362px;
    height: 204px;
  }

  .Modal-body {
    font-size: 0.9rem;
  }

  .create-form input {
    width: 300px;
  }
}

@media (max-width: 360px) {
  .Modal iframe {
    width: 289px;
    height: 163px;
  }

  .Modal-body {
    font-size: 0.8rem;
  }
}
