.footerContent {
  height: 5vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #5e89b4;
  background-color: inherit;
  gap: 5px;
  padding-top: 90px;
}

.footerContent a {
  text-decoration: none;
  color: #2e567e;
}

.footerContent a:hover {
  color: #c48854;
}
