@font-face {
  font-family: "Catlove";
  src: url(../../assets/fonts/Catlove.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.header_content a {
  text-decoration: none;
}

.header_text {
  font-family: "Catlove";
  font-size: 8rem;
  color: #90a9c2;
  margin-top: -80px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .header_text {
    font-size: 6rem;
    margin-top: -60px;
  }
}

@media (max-width: 390px) {
  .header_text {
    font-size: 4rem;
    margin-top: -30px;
  }
}
